<div class="container-big-card">
  <div class="big-card-photo">
    <img src="../../../assets/photo2.jpg" alt="photo" width="400">
  </div>
  <div class="big-card-title">
    <a href="#">
      <h1>Nova versão do Angular</h1>
    </a>
  </div>
  <div class="big-card-description">
    <a href="#">
      <p>
        Testando o Angular, criando um blog simples. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sed repellendus aliquam ab eveniet.
      </p>
    </a>
  </div>
</div>
