<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="articles-main">
    <app-big-card
      photoCover="../../../assets/photo2.jpg"
      cardTitle="Nova versão do Angular"
      cardDescription="Testando o Angular, criando um blog simples. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sed repellendus aliquam ab eveniet.">
    </app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card
    cardPhoto="../../../assets/doctor.jpg"
    cardTitle="Estreia nos cinemas: Doutor Estranho" >
    </app-small-card>
    <app-small-card
    cardPhoto="../../../assets/vingadores.png"
    cardTitle="Maior bilheteria: Vingadores: Ultimato" >
    </app-small-card>
    <app-small-card
    cardPhoto="../../../assets/2012.jpg"
    cardTitle="Filme favorito: Vingadores: 2012">
    </app-small-card>
  </div>
</div>
